<div ng-controller="InvoiceController">

    <div>
        <input class="btn btn-info" type="button" value="Save data" ng-click="saveData()" />
        <input class="btn btn-success" type="button" value="New Invoice" data-toggle="modal" data-target="#invoice" ng-click="newInvoice()" />
    </div>
    <div class="edit panel">
        <div>
            <input class="btn btn-info" type="button" value="Save data" ng-click="saveData()" />
            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#invoice" ng-click="newInvoice()">New Invoice</button>
            <hr>
        </div>
        <div class="text">Id:</div>
        <div class="text"><input type="text" ng-model="invoice.id"></div>
        <div class="text">Bill Customer:</div>
        <div class="text"><select type="text" ng-model="invoice.billCustomer" ng-options="billCustomer.id as customer.name for customer in customers"></select></div>
        <div class="text">Ship Customer:</div>
        <div class="text"><select type="text" ng-model="invoice.shipCustomer" ng-options="shipCustomer.id as customer.name for customer in customers"></select></div>
        <div class="text">Date:</div>
        <div class="text"><input type="text" ng-model="invoice.date"></div>
        <div class="text">Other:</div>
        <div class="text"><input type="text" ng-model="invoice.other"></div>
        <div class="text">Status:</div>
        <div class="text"><select type="text" ng-model="invoice.status" ng-options="key as value for (key, value) in invoiceStatus"></select></div>
        <button ng-click="addItem()">Add Item</button>
    </div>

    <div class="lista panel">
        Filter: <input class="form-control" type="search" ng-model="selInvoice">
        Order:
        <select class="form-control" ng-model="sortOrder">
            <option value="+date">Date</option>
            <option value="+status">Status</option>
            <option value="-total">Total</option>
        </select>
        <div>
            <br />
            <table class="table table-bordered">
                <thead>
                    <tr style="font-weight:bold">
                        <th >Bill Customer</th>
                        <th >Ship Customer</th>
                        <th>Date</th>
                        <th >Tax</th>
                        <th>Other</th>
                        <th >Total</th>
                        <th >Status</th>
                        <th>Entries</th>
                        <th >Delete</th>
                    </tr>
                    <tr ng-repeat="item in invoices | orderBy: sortOrder | filter: selInvoice">
                        <td><a href="#/invoice" ng-click="transfer(item)">{{ item.billCustomer.name }}</a></td>
                        <td> {{ item.shipCustomer.name }}</td>
                        <td> {{ item.date }}</td>
                        <td> {{item.tax}}%</td>
                        <td> {{ item.other }}</td>
                        <td> {{ item.total }}</td>
                        <td> {{ item.status }}</td>
                        <td>
                        <div style="width: 500px" ng-repeat="entry in item.entries">| Article Id: <b>{{entry.article}}</b> |  Article Name:<b> {{entry.articleName}}</b> |  Article Count: <b>{{entry.quantity}}</b>  |  Article Price:<b> {{entry.price}} | </b></div></td>
                        <td><button type="button" value="Delete" class="glyphicon glyphicon-trash" style="color:red" ng-click="deleteData(item.id);"></button></td>
                    </tr>
            </table>
        </div>
    </div>
</div>

<div id="invoice" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="panel">
                <div class="text">Bill Customer:</div>
                <div class="text"><select type="text" ng-model="newInvoiceObject.billCustomerId" ng-options="customer.id as customer.name for customer in customers"></select></div>
                <div class="text">Ship Customer:</div>
                <div class="text"><select type="text" ng-model="newInvoiceObject.shipCustomerId" ng-options="customer.id as customer.name for customer in customers"></select></div>
                <div class="text">Date:</div>
                <div class="text"><input type="text" ng-model="newInvoiceObject.date"></div>
                <div class="text">Other:</div>
                <div class="text"><input type="text" ng-model="newInvoiceObject.other"></div>
                <div class="text">Status:</div>
                <div class="text"><select type="text" ng-model="newInvoiceObject.status" ng-options="key as value for (key, value) in invoiceStatus"></select></div>
           

                <div>
                    <div class="text">Product</div>
                    <div class="text"><select type="text" ng-model="newEntryProductId" ng-options="article.id as article.name for article in articles"></select></div>
                    <div class="text">Quantity</div>
                    <input type="text" ng-model="newEntryProductQuantity" />
                    <input type="button" ng-click="addInvoiceItem()" value="Add Entry"/>
                </div>
                
                <br />
                <br />
                <br />
                <div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Item name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in newInvoiceObject.entries">                                
                                <td>{{ item.name }}</td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.quantity }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>                
            </div>
            <input class="btn" type="button" ng-click="saveData()" value="Save invoce" data-dismiss="modal" />
        </div>
    </div>
</div>
