.label {
    float: left;
    text-align: right;
    width: 45%;
    margin: 6px;
    color: black;
}

.text {
    float: left;
    width: 45%;
    margin: 6px;
}

.lista {
    width:40%;
    float:left;
    margin:6px;
    padding:10px;
    border:1px solid black;
}

.edit {
    width:30%;
    float:left;
    margin:6px;
    padding:10px;
    border:1px solid black;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}